/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #D4A76A; /* Main background */
}

header {
  display: flex;
  background-color: #FFDBAA; /* Header background */
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid #333;
}

h1 {
  color: #553100; /* Header text */;
  margin: 0;
  font-size: 4rem;
}

.nav-menu {
  display: flex;;
  list-style: none;
  gap: 3rem;
}

.nav-menu li a {
  text-decoration: none;
  background-color: #805215; /* Button */
  color: white;
  padding: 1.5rem 1.8rem;
  font-weight: bold;
  display: inline-block
}

.features {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 1rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card button {
  background-color: #805215; /* Button color */
  color: white;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  border: 2px solid black;
  font-size: 1.3rem;
}

.about {
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about h2 {
  text-align: center;
  margin-top: 0;
}

.about button {
  display: block;
  background-color: #805215; /* Button color */
  color: white;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.3rem;
  border: 2px solid black;
}

